In [151]:
%matplotlib inline
from copy import deepcopy
import numpy as np
import pandas as pd
import seaborn as sns
sns.set()
from matplotlib import pyplot as plt
plt.rcParams['figure.figsize'] = (16,9)
plt.style.use('ggplot')

# Upload and Preprocess Data

In [152]:
df1 = pd.read_csv('crunchbase_aerospace.csv')
df2 = pd.read_csv('crunchbase_ai.csv')
df3 = pd.read_csv('crunchbase_biotech.csv')
df4 = pd.read_csv('crunchbase_energy.csv')
df5 = pd.read_csv('crunchbase_neurotech.csv')

df1

,Organization Name,Organization Name URL,Operating Status,Company Type,IPO Status,Estimated Revenue Range,Number of Employees,Headquarters Location,Last Funding Type,Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Full Description,Industries,Description,Founded Date,Founded Date Precision,Website
0,SpaceX,https://www.crunchbase.com/organization/space-...,Active,For Profit,Private,$1B to $10B,10001+,"Hawthorne, California, United States",Venture - Series Unknown,9.510344e+09,USD,9.510344e+09,Space Exploration Technologies is a space-tran...,"Aerospace, Manufacturing, Space Travel, Transp...",SpaceX is an aviation and aerospace company fo...,2002-05-06,day,https://www.spacex.com
1,Overair,https://www.crunchbase.com/organization/overair,Active,For Profit,Private,NaN,101-250,"Santa Ana, California, United States",Series B,1.700000e+08,USD,1.700000e+08,"Overair designs, develops, and manufactures el...","Aerospace, Air Transportation, Electric Vehicl...","Overair designs, develops, and manufactures el...",2019-01-01,year,https://overair.com
2,Blue Origin,https://www.crunchbase.com/organization/blue-o...,Active,For Profit,Private,$100M to $500M,1001-5000,"Kent, Washington, United States",Grant,1.673500e+08,USD,1.673500e+08,Blue Origin is an aerospace company that focus...,"Aerospace, Manufacturing, National Security, R...",Blue Origin is an aerospace company that focus...,2000-09-08,day,http://www.blueorigin.com
3,DJI,https://www.crunchbase.com/organization/dji,Active,For Profit,Private,$10M to $50M,10001+,"Shenzhen, Guangdong, China",Private Equity,1.050000e+08,USD,1.050000e+08,DJI develops and manufactures innovative drone...,"Aerospace, Consumer Electronics, Drones, Manuf...",DJI develops and manufactures innovative drone...,2006-11-06,day,http://www.dji.com/
4,Sierra Space,https://www.crunchbase.com/organization/sierra...,Active,For Profit,Private,NaN,1001-5000,"Louisville, Colorado, United States",Series A,1.400000e+09,USD,1.400000e+09,Sierra Space products and programs are working...,"Aerospace, Space Travel, Transportation",Sierra Space is a commercial space company wor...,2021-01-01,year,https://sierraspace.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Jetoptera,https://www.crunchbase.com/organization/jetoptera,Active,For Profit,Private,$1M to $10M,1-10,"Edmonds, Washington, United States",NaN,NaN,NaN,NaN,Jetoptera is an aviation startup developing po...,"Aerospace, Manufacturing",Jetoptera is an aviation startup developing po...,2015-01-01,year,http://www.jetoptera.com
996,DRG,https://www.crunchbase.com/organization/drg-adb1,Active,For Profit,Private,$50M to $100M,501-1000,"Oklahoma City, Oklahoma, United States",NaN,NaN,NaN,NaN,NaN,"Aerospace, Automotive, Navigation, Simulation",DRG is an aerospace center that provides logis...,2002-01-01,year,https://www.drgok.com
997,iniVation,https://www.crunchbase.com/organization/inivation,Active,For Profit,Private,Less than $1M,11-50,"ZÃ¼rich, Zurich, Switzerland",Seed,NaN,NaN,NaN,iniVation provides neuromorphic vision systems...,"Aerospace, Automotive, Computer Vision, Consum...",IniVation provides neuromorphic visual systems...,2015-01-01,year,http://www.inivation.com
998,UAV Factory,https://www.crunchbase.com/organization/uav-fa...,Active,For Profit,Private,Less than $1M,11-50,"Irvington, New York, United States",NaN,NaN,NaN,NaN,UAV Factory Ltd. is one of the worldâs leading...,Aerospace,"UAV Factory designs subsystems, develops platf...",2009-01-01,year,http://uavfactory.com
999,SAT Corp,https://www.crunchbase.com/organization/sat-corp,Active,For Profit,Private,$1M to $10M,251-500,"Sunnyvale, California, United States",NaN,NaN,NaN,NaN,NaN,"Aerospace, Satellite Communication","SAT, a Kratos company a trusted global satelli...",1990-01-01,year,http://www.sat.com

In [201]:
df1['Industries'] = 'Aerospace'
df2['Industries'] = 'Artificial Intelligence'
df3['Industries'] = 'Biotechnology'
df4['Industries'] = 'Energy'
df5['Industries'] = 'Neurotech'

In [202]:
# stick together dataframes
data = pd.concat([df1,df2,df3,df4,df5])
data = data.reset_index()
data

,index,Organization Name,Organization Name URL,Operating Status,Company Type,IPO Status,Estimated Revenue Range,Number of Employees,Headquarters Location,Last Funding Type,Total Funding Amount,Total Funding Amount Currency,Total Funding Amount Currency (in USD),Full Description,Industries,Description,Founded Date,Founded Date Precision,Website
0,0,SpaceX,https://www.crunchbase.com/organization/space-...,Active,For Profit,Private,$1B to $10B,10001+,"Hawthorne, California, United States",Venture - Series Unknown,9.510344e+09,USD,9.510344e+09,Space Exploration Technologies is a space-tran...,Aerospace,SpaceX is an aviation and aerospace company fo...,2002-05-06,day,https://www.spacex.com
1,1,Overair,https://www.crunchbase.com/organization/overair,Active,For Profit,Private,NaN,101-250,"Santa Ana, California, United States",Series B,1.700000e+08,USD,1.700000e+08,"Overair designs, develops, and manufactures el...",Aerospace,"Overair designs, develops, and manufactures el...",2019-01-01,year,https://overair.com
2,2,Blue Origin,https://www.crunchbase.com/organization/blue-o...,Active,For Profit,Private,$100M to $500M,1001-5000,"Kent, Washington, United States",Grant,1.673500e+08,USD,1.673500e+08,Blue Origin is an aerospace company that focus...,Aerospace,Blue Origin is an aerospace company that focus...,2000-09-08,day,http://www.blueorigin.com
3,3,DJI,https://www.crunchbase.com/organization/dji,Active,For Profit,Private,$10M to $50M,10001+,"Shenzhen, Guangdong, China",Private Equity,1.050000e+08,USD,1.050000e+08,DJI develops and manufactures innovative drone...,Aerospace,DJI develops and manufactures innovative drone...,2006-11-06,day,http://www.dji.com/
4,4,Sierra Space,https://www.crunchbase.com/organization/sierra...,Active,For Profit,Private,NaN,1001-5000,"Louisville, Colorado, United States",Series A,1.400000e+09,USD,1.400000e+09,Sierra Space products and programs are working...,Aerospace,Sierra Space is a commercial space company wor...,2021-01-01,year,https://sierraspace.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4663,663,California NeuroInstitute,https://www.crunchbase.com/organization/califo...,Active,For Profit,Private,Less than $1M,1-10,"San Jose, California, United States",NaN,NaN,NaN,NaN,California NeuroInstitute provides neurosurgic...,Neurotech,California NeuroInstitute treats neurological ...,2015-01-01,year,http://www.cnimed.com
4664,664,Advanced Interventional Catheters,https://www.crunchbase.com/organization/advanc...,Active,For Profit,Private,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Advanced Interventional Catheters Ltd. manufac...,Neurotech,Catheters for operating the heart or the brain.,2008-01-01,year,NaN
4665,665,NeuronBasic,https://www.crunchbase.com/organization/neuron...,Active,For Profit,Private,NaN,NaN,NaN,Series C,NaN,NaN,NaN,NeuronBasic focuses on the design and developm...,Neurotech,NeuronBasic focuses on the design and developm...,2021-01-01,year,NaN
4666,666,TWI,https://www.crunchbase.com/organization/twi-025e,Active,For Profit,Private,NaN,11-50,NaN,NaN,NaN,NaN,NaN,TWI is a business and corporate training firm ...,Neurotech,TWI is a corporate training firm that offers t...,2000-01-01,year,https://www.team-working.com
4667,667,Advanced Medical Resources,https://www.crunchbase.com/organization/advanc...,Active,For Profit,Private,NaN,11-50,"Sugar Land, Texas, United States",NaN,NaN,NaN,NaN,Advanced Medical Resources offers services inc...,Neurotech,Advanced Medical Resources provides intraopera...,1998-01-01,year,https://amrorservices.com

In [203]:
data = data.drop(columns=['index','Organization Name URL', 'Operating Status', 'Company Type', 'Headquarters Location', 'Description', 'IPO Status', 'Estimated Revenue Range', 'Last Funding Type', 'Total Funding Amount Currency', 'Total Funding Amount', 'Full Description', 'Founded Date Precision', 'Website'])

In [204]:
data = data.dropna(subset=['Number of Employees', 'Total Funding Amount Currency (in USD)', 'Founded Date'])

In [205]:
data = data.drop_duplicates(subset=['Organization Name'])

In [206]:
def to_year(date):
    date = date[:4]
    age = 2022-int(date)
    return age

for i in data.index:
    if type(data['Founded Date'][i]) == str:
        data['Founded Date'][i] = to_year(data['Founded Date'][i])
    elif type(data['Founded Date'][i]) == float:
        print(data['Founded Date'][i])

<ipython-input-206-adfd51aefb62>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Founded Date'][i] = to_year(data['Founded Date'][i])

In [207]:
data = data.rename({'Founded Date': 'Age'}, axis=1)
data

,Organization Name,Number of Employees,Total Funding Amount Currency (in USD),Industries,Age
0,SpaceX,10001+,9.510344e+09,Aerospace,20
1,Overair,101-250,1.700000e+08,Aerospace,3
2,Blue Origin,1001-5000,1.673500e+08,Aerospace,22
3,DJI,10001+,1.050000e+08,Aerospace,16
4,Sierra Space,1001-5000,1.400000e+09,Aerospace,1
...,...,...,...,...,...
4444,Theraptosis,1-10,1.120251e+07,Neurotech,21
4448,Limbic Life,11-50,8.874000e+03,Neurotech,15
4468,Evotec Neurosciences,11-50,3.046585e+07,Neurotech,23
4538,Neurome,1-10,9.000000e+06,Neurotech,22
4585,Tikvah Therapeutics,101-250,1.000000e+07,Neurotech,17

In [208]:
list(data['Number of Employees'].unique())

['10001+',
 '101-250',
 '1001-5000',
 '251-500',
 '11-50',
 '51-100',
 '1-10',
 '501-1000',
 '5001-10000']

In [209]:
employee_counts = list(data['Number of Employees'].unique())
rounded_counts = [10001,101,1001,251,11,51,1,501,5001]
print(len(employee_counts))
print(len(rounded_counts))
print(employee_counts)

9
9
['10001+', '101-250', '1001-5000', '251-500', '11-50', '51-100', '1-10', '501-1000', '5001-10000']

In [210]:
employee_counts = ['11-50', '101-250', '51-100', '251-500', '1001-5000', '1-10', '10001+', '501-1000', '5001-10000']
rounded_counts = [10001,101,1001,251,11,51,1,501,5001]

def estimate_employees(employees):
    for i in range(len(employee_counts)):
        if employees == employee_counts[i]:
            employees = rounded_counts[i]
    return employees

for i in data.index:
    data['Number of Employees'][i] = estimate_employees(data['Number of Employees'][i])

<ipython-input-210-161e6dba435d>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Number of Employees'][i] = estimate_employees(data['Number of Employees'][i])

In [211]:
data

,Organization Name,Number of Employees,Total Funding Amount Currency (in USD),Industries,Age
0,SpaceX,1,9.510344e+09,Aerospace,20
1,Overair,101,1.700000e+08,Aerospace,3
2,Blue Origin,11,1.673500e+08,Aerospace,22
3,DJI,1,1.050000e+08,Aerospace,16
4,Sierra Space,11,1.400000e+09,Aerospace,1
...,...,...,...,...,...
4444,Theraptosis,51,1.120251e+07,Neurotech,21
4448,Limbic Life,10001,8.874000e+03,Neurotech,15
4468,Evotec Neurosciences,10001,3.046585e+07,Neurotech,23
4538,Neurome,51,9.000000e+06,Neurotech,22
4585,Tikvah Therapeutics,101,1.000000e+07,Neurotech,17

In [212]:
data['Industries'].unique()

array(['Aerospace', 'Artificial Intelligence', 'Biotechnology', 'Energy',
       'Neurotech'], dtype=object)

In [213]:
data = data.drop(['Organization Name'], axis=1)
data

,Number of Employees,Total Funding Amount Currency (in USD),Industries,Age
0,1,9.510344e+09,Aerospace,20
1,101,1.700000e+08,Aerospace,3
2,11,1.673500e+08,Aerospace,22
3,1,1.050000e+08,Aerospace,16
4,11,1.400000e+09,Aerospace,1
...,...,...,...,...
4444,51,1.120251e+07,Neurotech,21
4448,10001,8.874000e+03,Neurotech,15
4468,10001,3.046585e+07,Neurotech,23
4538,51,9.000000e+06,Neurotech,22
4585,101,1.000000e+07,Neurotech,17

In [214]:
def get_unique_values_with_dictionary(values):
    new_values = {}

    for value in values:
        if value in new_values.keys():
            new_values[value] += 1
        else:
            new_values[value] = 1
    
    print(new_values)
    return new_values.keys()

get_unique_values_with_dictionary(list(data['Industries']))

{'Aerospace': 792, 'Artificial Intelligence': 989, 'Biotechnology': 929, 'Energy': 932, 'Neurotech': 206}

dict_keys(['Aerospace', 'Artificial Intelligence', 'Biotechnology', 'Energy', 'Neurotech'])

# Build Model

In [215]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

In [216]:
X = data[["Number of Employees","Total Funding Amount Currency (in USD)","Age"]]
Y = data[["Industries"]]
Xtrain, Xtest, ytrain, ytest = train_test_split(X, Y, random_state=1000)

In [217]:
model = GaussianNB()
model.fit(Xtrain, ytrain)

/Users/kokoxu/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GaussianNB()

In [218]:
# classes in sample
model.classes_

array(['Aerospace', 'Artificial Intelligence', 'Biotechnology', 'Energy',
       'Neurotech'], dtype='<U23')

In [219]:
# count of each class in sample
model.class_count_

array([594., 730., 693., 711., 158.])

In [220]:
# probability of each class in sample
model.class_prior_

array([0.20582121, 0.25294525, 0.24012474, 0.24636175, 0.05474705])

# Predicting Test Data

In [221]:
ypred = model.predict(Xtest)
accuracy = accuracy_score(ytest,ypred)
report = classification_report(ypred, ytest)
cm = confusion_matrix(ytest, ypred)

/Users/kokoxu/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/kokoxu/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/kokoxu/opt/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [222]:
print("Classification report:")
print("Accuracy: ",accuracy)
print(report)
print("Confusion matrix:")
print(cm)

Classification report:
Accuracy:  0.2130977130977131
                         precision    recall  f1-score   support

              Aerospace       0.00      0.00      0.00         0
Artificial Intelligence       0.00      0.00      0.00        12
          Biotechnology       0.64      0.36      0.46       419
                 Energy       0.05      0.43      0.08        23
              Neurotech       0.92      0.09      0.16       508

               accuracy                           0.21       962
              macro avg       0.32      0.18      0.14       962
           weighted avg       0.76      0.21      0.29       962

Confusion matrix:
[[  0   2  31   3 162]
 [  0   0 154   5 100]
 [  0   0 151   5  80]
 [  0  10  79  10 122]
 [  0   0   4   0  44]]